/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Parallax Background */
.parallax {
    background-image: url('/assets/image/IMG_3846.jpg'); /* Change to your image */
    height: 100vh; /* Full screen height */
    background-attachment: fixed; /* Parallax effect */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Content Section */
.content {
    background-color: white;
    padding: 50px;
    text-align: center;
    font-size: 18px;
}
